body {
    /*background: linear-gradient(to bottom, #ededed , #ffffff );*/
    background-color: #1C0E34;
    font-family: 'Poppins';

}

/* Comienza barra de navegación*/
.navbar {
    padding: 1% !important;
    background-color: #1C0E34 !important;
}

.navbar-dark .navbar-nav  {
    color: #FFFFFF;
    font-weight: 400;
}

#miPerfil {

    font-weight: 700;
    color: #FFFFFF;
}


.nav-link:hover {
    font-weight: 700;
    color: #FFFFFF;
}
.navbar-dark .navbar-toggler {
    border-color: transparent; /*quita el borde del icono*/
    padding: 0%;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
} /*icono de menu blanco */

.navbar-collapse {
    flex-grow: 0.2;
}


/* estilo para breadcrumb */

#breadcrumb {
   align-items: center;
    border-radius: 5px;
    margin: 15px;
    margin-left: 12%;
    }
    
.breadcrumb-item {
    display: inline;
    font-size: 1rem; /
    }
    
.breadcrumb-item a {
    color: #ffffff;
    text-decoration: none;
    }
    
.breadcrumb-item a:hover {
    font-weight: bold;
    
    }
    
.breadcrumb-separator {
    color: #ffffff;
    margin-left: 4px;
    margin-right: 4px;
    size: 1rem;
    }
    
.breadcrumb-item.active {
    color: #ffffff;
    font-weight: bold;
    }
    
   
   
 /* estilo para producto */
    
#products-container{
    align-items: center;
    
    }
    
.product-item {
    color: #1C0E34 ;  
    cursor: pointer;   
    display: flex;        
    }

 /* estilo de imagen principal */

.col-6 {
   flex: auto ;
   }

.bloque_madre {  /*bloque contenedor de todo*/
    background-color: #ffffff;
    margin-top: 0;
    padding: 5%;
    padding-bottom: 5%;  
    border-radius: 30px 30px 0 0 ;
    }

    /*contenedor img e imagen*/

.cont_img{
    width: 100%;
    margin-right: 3%;
}

.imgProduct{
    display: block;
    margin-top: 0;  
    border-radius: 15px; 
    display: block;
    width: 100%;
    height: auto;}


    /*contenedor seccion izquierda*/

.desc_izquierda {
        width: 100%;
    }

.bloque_superior     /*contiene nombre y precio*/
{

        padding: 0 5% 0;
    }

    h4{
        font-size: 1.5rem;
        font-weight: 700; 
        color:#1C0E34;
        padding-top: none;
        }

     p, small{
        font-size: 0.8rem;
        font-weight: 400;
        color: #1C0E34;
            }

.bloque_color {    /*contiene descripcion de producto */

   padding: 5%;
   background-color: #E4ECFF;
   border-radius: 30px;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
   margin-bottom: 5%; }

   
#vendidos {
    padding-left: 5%;
}
    
.desc{ /*titulo "sobre este producto" */
    font-size: 0.8rem;
    font-weight: bold;
    color: #1C0E34;
    }

 .description {
        color: #1C0E34;
        font-size: 15px;
        font-weight: 400;
        }
    

 /*Comienza seccion de imagenes relacionadas*/

.relat{
    color: #1C0E34;
    font-weight: bold;
    font-size: 1rem;
    padding-left: 1%;
    }
    
p#precio{
    font-size: 2rem;
    font-weight: 700; 
    color:#1C0E34;
    }

    .img_rel {

        padding-left: 1%;
        padding-right: 1%;

    }      
    
.imagenesrel {
    align-items: center;
    margin: 8% 0;
    
}

.img_rel {
    transition: transform 0.3s ease-in-out; /* Transición suave */
}

.img_rel:hover {
    transform: scale(1.2); /* Escalar la imagen al 120% */
}


 /*Botones y sus contenedores*/

   .cont_boton{
    background-color: #E4ECFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding-left: 5%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .cont_boton p {
        font-weight: 700;
        margin: 0;
    }
 

    .nameButton {
        display: flex;
        justify-content: space-between;

        
    }

    .btnBlockRojo {
        background: #e83b57;
        color: #ffffff; 
        font-weight: 700; 
        border: none;
        border-radius: 7px;
        height: 2rem;
        width: 2rem;
        transition: background-color 0.5s ease;

    }
    
   
    .btnBlockRojo:hover {
        background: #c13149;    

    }

    #btnBlockRojo {
        justify-content: flex-end;
    }

    .btnRojo {
        background: #e83b57;
        color: #ffffff; 
        font-weight: 700; 
        align-items: right; 
        border: none;
        border-radius: 10px;
        height: 2.5rem;
        width: 8rem;
        transition: background-color 0.5s ease;
      
    
    }

    
    .btnRojo:hover {
    background: #c13149;    
    }

  /*Comienza estilo de Footer*/


    footer {
        background-color: none;
        align-items: center;
    }

/*Barra de navegación para resolución menor a 1024px*/
@media (max-width:991px) {
    .navbar-collapse {
        position: absolute;
        width: 50%;
        top: 100%;
        padding: 2%;
        left: 0;
        z-index: 1000;
        background-color:#2E314C;
    }
}
    

