/* estilo para breadcrumb */

#breadcrumb {
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    margin-left: 10%;
    }
    
.breadcrumb-item {
    display: inline;
    margin-right: 5px;
    font-size: 17px; /
    }
    
.breadcrumb-item a {
    color: #6c757d;
    text-decoration: none;
    }
    
.breadcrumb-item a:hover {
    font-weight: bold;
    }
    
.breadcrumb-separator {
    color: #6c757d;
    margin-left: 4px;
    margin-right: 4px;
    }
    
.breadcrumb-item.active {
    color: #6c757d;
    font-weight: bold;
    }
    
    /* estilo para producto */
    
#products-container{
    align-items: center;
    }
    
.product-item{
    color: black ;
    margin: auto;
    margin-bottom: none;
    margin-top: none;
    cursor: pointer;
    padding-top: 0;
    padding-left: 0;
    }
    
.imgProduct{
    width: 50%;
    height: auto;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    }
    
h4{
    font-size: 35px;
    font-weight: 700; 
    color:#2E314C;
    padding-top: none;
    }
    
p, small{
    font-size: 20px;
    font-weight: 400;
    margin-right: 10%;
    margin-bottom: 0;
    color: #2E314C;
    }
    
.desc{
    padding-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #2E314C;
    }
    
.relat{
    color: #2E314C;
    font-weight: bold;
    padding-bottom: 3%;
    padding-left: 1%;
    }
    
p#precio{
    font-size: 35px;
    font-weight: 700; 
    color:#2E314C;
    margin-right: 0;
    padding-bottom: 3%;
    }
    
.description {
    color: black;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 5%;
    }
    

    .img_rel {

        padding-left: 1%;
        padding-right: 1%;

    }      
    
.imagenesrel {
    align-items: center;
    margin: 8% 0;
}

body {
    font-family: 'Poppins';
}

/*Barra de navegación*/
.navbar {
    padding: 1% !important;
    background-color: #2E314C !important;
}

.navbar-dark .navbar-nav .nav-link, #miPerfil{
    color: #FFFFFF;
    font-weight: bold;
}

.navbar-dark .navbar-toggler {
    border-color: transparent; /*quita el borde del icono*/
    padding: 0%;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
} /*icono de menu blanco */

.navbar-collapse {
    flex-grow: 0.2;
}

/*Barra de navegación para resolución menor a 1024px*/
@media (max-width:991px) {
    .navbar-collapse {
        position: absolute;
        width: 50%;
        top: 100%;
        padding: 2%;
        left: 0;
        z-index: 1000;
        background-color:#2E314C;
    }
}
    