.controles{
  margin: 2% auto;
  margin-right: 8%;
  display: flex;
 
}


.botones {
  margin: 2% 0;
}


[type=search] {
  outline-offset: 0px;}

.controles button {
  background: #E4ECFF;
  color: #1C0E34; 
  margin: auto 4px;
  font-weight: 400; 
  align-items: right; 
  border: none;
  border-radius: 5px;
  height: 2rem;
  transition: background-color 0.5s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.controles button:hover {
  background: #cad9fc;
}

input {
  
  border: 2px solid #EFEFEF;
  border-radius: 6px;
  background-color: #efefef;
  font-size: 1rem;
}

/* al pasar el mouse por arriba se muestra un borde */

input:hover {
  border: 2px solid #1C0E34 ;
  transition: border-color 0.5s ease; 
  }

/* al hacer click se mantiene el borde de color */

input[type="text"]{
  border-color: #1C0E34;
  outline: none; /* esto sirve para sacar el borde por defecto del navegador */ 
  box-shadow: none;
  background-color: #efefef;
}


#products-container {
  align-items: center;
  
}

.product-item {
  color: black;
  margin: auto;
  margin-bottom: 3%;
  margin-top: 3%;
  cursor: pointer;
  padding: 3% 5%;
  box-shadow: 0px 6px 8px rgba(93, 85, 94, 0.25);
  border-radius: 30px;
  border-top-right-radius: 30px;
background-color: #f7f7f7;  
}

.product-item:hover {
  background-color: rgb(255, 255, 255);
}

.cont_img {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  padding: 0;
}

img {
    width: 100%;
  height: auto;

}

h4 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #2e314c;
  justify-content: flex-start;
}

p {
  font-size: 0.4rem;
  font-weight: 400;
  margin-bottom: 0;
  color: #2e314c;
}

#precio {
  font-size: 1.7rem;
  font-weight: 700;
  color: #2e314c;
  
}

.sold {
  display:flex;
  flex-direction: row-reverse;
  text-align: right;
  font-weight: 400;
  color: #2e314c;
  padding-right: 10px;
}

.btnBlockRojo{
  background: #e83b57;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
color: #ffffff;
font-weight: 700;
border: none;
border-radius: 7px;
height: 2rem;
width: 2rem;
transition: background-color 0.5s ease;
box-sizing: border-box;
-webkit-appareance: button;
margin: 0;
font-family:inherit;
font-size:inherit;
line-height: inherit;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}


.nameButton {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
  }

.btnBlockRojo:hover{
  background: #c13149;
}

.bloque_madre {
  padding:  0;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bloqueGrande{
  display: flex;
  justify-content: space-between;
}

.btnRojo {
  background: #e83b57;
  color: #ffffff; 
  font-weight: 700; 
  align-items: right; 
  border: none;
  border-radius: 10px;
  height: 2.5rem;
  width: 8rem;
  transition: background-color 0.5s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

 
}

.btnRojo:hover {
background: #c13149;    
}

.description {
  color: black;
  font-size: 20px;
}

body {
  font-family: "Poppins";
}



/*Barra de navegaci칩n*/
.navbar {
  padding: 1% !important;
  background-color: #1C0E34 !important;
}

.navbar-dark .navbar-nav  {
  color: #FFFFFF;
  font-weight: 400;
}

#miPerfil {
  font-weight: 700;
  color: #FFFFFF;
}

.nav-link:hover {
  font-weight: 700;
  color: #FFFFFF;
}

.navbar-dark .navbar-toggler {
  border-color: transparent; /*quita el borde del icono*/
  padding: 0%;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
} /*icono de menu blanco */

.navbar-collapse {
  flex-grow: 0.2;
}

/*Barra de navegaci칩n para resoluci칩n menor a 1024px*/
@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    width: 40%;
    top: 100%;
    padding: 0 5% 2%;
    left: 0;
    z-index: 1000;
    background-color:#1C0E34;
    border-radius: 0 0 15px 0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  }
}

/*Smartphone Peque침o */
@media (max-width: 767px) {

  #preciomin ,
   
  #preciomax {width: 30%;
  margin: 2% 0 0 0;}

  
  .product-item{

    margin: 0 8%;
    margin-bottom: 3%;
    padding: 8%;
  }

  .cont_img {
    padding:0;   margin-bottom: 5%;
  }

  .description {
    font-size: 0.8rem;
    padding-bottom: 5%;
  }

  small {
    font-size: 0.6rem;
  }

  #precio, h4 {
    font-size: 1.1rem;
  }

  .bloque_madre {
    padding-left: 0%;
  }

  .btnRojo {
    width: 6rem;
    height: 1.8rem;
    font-size: 0.8em;
    border-radius: 8px;
  }
  
  .controles {
    margin-right: 0;
  }
  
  .sold{
    
    font-size: smaller;
  }
  #precio {
    font-size: 1em;
  }

}

/* Tableta en Modo Vertical */


@media (min-width: 768px) and (max-width: 1023px) {

.controles {
  margin-right: 0;
}

.description {
  font-size:medium;
}

.sold{
  font-size: smaller;
}

.btnRojo {
  width: 7rem;
  height: 2rem;
}

#precio {
  font-size: 1.5em;
}

h4 {
  font-size: 1.5rem;
}

.bloque_madre{
  padding-top: 0%;
  padding-bottom: 0%;
}
}