body {
    background-color: #FAF9FB;
    width: 100%;
}
    
main {
    min-height: auto; /*IMPORTANTE no cambiar esto ya que entra la conf de styles.css y rompe*/
    justify-content: center;
    display: flex;
}
    
.bloque-general {
    width: 85%;
    justify-content: center;
}

.titulo {
    font-size: 2em;
    padding-left: 5%;
    margin: 3%  0 3%;    
    font-weight: 700;   
}

.card {
    padding: 3%;
    border-radius: 25px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 5%;
    border-color: none;
    border-style: solid;
    overflow: hidden;
    display: flex;
}

.contImg {
    height: 8em;
    width: 8em;
    overflow: hidden; /* Para ocultar cualquier parte que sobresalga */
    position: relative; /* Permite centrar la imagen */
    padding: 0;
    border-radius: 15px;
}
    
.imgProducto {
    width: auto; /* Mantiene la relación de aspecto */
    height: 100%; /* Ajusta la altura al contenedor */
    position: absolute; /* Permite centrar la imagen */
    background-size: cover;
    aspect-ratio: 1/1;
    object-fit: cover;
    aspect-ratio: 1/1;
    object-fit: cover;

   

   
}
    
    
.nameButton {
    width: auto;
    display: flex;
}


/*boton rojo basura*/

.btnBlockRojo {
    background: #e83b57;
    color: #ffffff;
    font-weight: 700;
    border: none;
    border-radius: 7px;
    height: 1.7rem;
    width: 1.7rem;
    transition: background-color 0.5s ease;

}


.btnBlockRojo:hover {
    background: #c13149;

}

.trash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Nombre del producto*/
.productName {
    font-size: 110%;
    font-weight: 700;
    margin-bottom: 2%;
}
    
    
/*Linea de precio*/

.precio {
    font-size: 0.9em;
}

/*estilo input*/
input {
    text-align: center;
    border: 2.5px solid #E4ECFF;
    border-radius: 6px;
    width: 15%;
    height: 15%;
}


/*subtotal text y precio*/
.subtotal {
    width: 50%;
}

.subtotal-text {
    margin-bottom: 0;
    font-size: 0.9em;

}

.subtotalNum {
    font-weight: 700;
}


/*cantidad*/

.cantidad {
    font-size: 0.9rem;

}
    
    
/*seccion derecha*/

/*sin puntos en la lista*/

.sin-puntos {
    list-style-type: none;
    /* Quita los puntos de la lista */
    padding: 0;
    /* Elimina el padding */
    margin: 0;
    /* Elimina el margen */
    display: flex;
    /* Hace que la lista use flexbox */
    justify-content: space-between;
    /* Espacio entre los elementos */
}

.contGeneral2 {

    padding: 3%;
    border-radius: 25px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 5%;
    border-color: #E4ECFF;
    border-style: solid;
    overflow: hidden;
    border: none;
    background-color: #ffffff;

}



/*botones*/

.btnRojo {

    background: #e83b57;
    color: #ffffff;
    font-weight: 700;
    align-items: right;
    border: none;
    border-radius: 10px;
    height: 2.5rem;
    width: 100%;
    transition: background-color 0.5s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
    margin-top: 5%;

}

.btnRojo:hover {
    background: #c13149;
}
.btnAzul {

    background: #E4ECFF;
    color: #1c0e34;
    font-weight: 700;
    align-items: right;
    border: none;
    border-radius: 10px;
    height: 2.5rem;
    width: 100%;
    transition: background-color 0.5s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
}

.btnAzul:hover {
    background: #c0d0f9;
}

.contBtn {
    width: 100%;
}

.lista p {
    font-size: 0.9rem;
    margin-bottom: 2%;
}

.bold {
    font-weight: 700;
}


/*Media queries para pantalla small */
@media (max-width: 767px) {
    .titulo {
        font-size: 1.1em;
        margin-top: 10%;
        margin-bottom: 5%;
        margin-left: 0;

    }

    .productName {
        font-size: 0.9em;
    }

    .contGeneral2 .productName {
        font-size: 1em;
        margin-bottom: 5%;
    }

    .subtotal {
        font-size: 1em;
    }

    .subtotal-text {
        font-size: 0.7em;
    }

    .cantidad {
        font-size: 0.7em;
    }


    .contImg {
        height: 5em;
        width: 5em;

    }


    input {
        margin: 0;
        height: 2.8em;
        width: 2.8em;
    }

    .card {
        margin-bottom: 10%;
        border-color: #E4ECFF;
    }

    .nameButton {
        margin-bottom: 5%;
    }

    .card-body {
        padding: 0;
        margin-left: 3%;
    }

    .contGeneral {
        padding: 0 0;
    }


    .contGeneral2 {
        margin: 5%;
        padding: 10%;

        border: none;
        background-color: white;

    }


    .contBtn {
        display: flex;
        /* Usar flexbox para alinear los botones */
        flex-direction: row;
        /* Alinear en fila */
        justify-content: center;
        /* Centrar horizontalmente */
        flex-wrap: wrap;
        /* Permitir que los botones se envuelvan en pantallas más pequeñas */
    }


    .btnAzul {
        background-color: #E4ECFF;
        /*color de fondo nuevo*/
        ;
    }

    .row {
        --bs-gutter-x: 0;
    }
}
        
/*tablet*/
@media (min-width: 768px) and (max-width: 1023px) {

    p.titulo {
        font-size: 17px;
        padding-left: 0%;
        padding-top: 4%;
        padding-bottom: 5%;
    }

    .bloque-general {
        justify-content: left;
    }

    .contGeneral2 {
        margin-left: 0%;
        margin-right: 0%;
        width: 37%;
    }

    .contImg {
        height: 5em;
        width: 5em;
        
    }

    .card {
        border-color: #E4ECFF;
        padding-right: 0%;
    }

    .productName {
        font-size: 1em;
    }

    .subtotal {
        font-size: 0.8em;
    }

    .subtotal-text {
        font-size: 0.6em;
    }
    .cantidad {
        font-size: 0.6em;
    }

    .precio {
        font-size: 0.7em;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding-bottom: 5%;
    }

    .btnBlockRojo {
    height: 1.5em ;
    width: 1.5em ;
    border-radius: 3px;
    font-size: 12px;
    padding: 0;
    }

}